hangmanClient/Views/Connected Services/SRIManageGameService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Logic.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Logic.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOPlayer" nillable="true" type="tns:DTOPlayer" />
  <xs:complexType name="ArrayOfDTOStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOStatistics" nillable="true" type="tns:DTOStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOStatistics" nillable="true" type="tns:ArrayOfDTOStatistics" />
  <xs:complexType name="DTOStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateGame" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score" type="xs:float" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usernameGuesser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOStatistics" nillable="true" type="tns:DTOStatistics" />
</xs:schema>