hangmanClient/Views/Connected Services/SRIManageGameService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Logic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Logic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOGameMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOGameMatch" nillable="true" type="tns:DTOGameMatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOGameMatch" nillable="true" type="tns:ArrayOfDTOGameMatch" />
  <xs:complexType name="DTOGameMatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChallengerBirthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChallengerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChallengerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChallengerPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChallengerPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChallengerScore" type="xs:int" />
      <xs:element minOccurs="0" name="ChallengerUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gamematches" nillable="true" type="tns:ArrayOfDTOGameMatch" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idChallenger" type="xs:int" />
      <xs:element minOccurs="0" name="idGamematch" type="xs:int" />
      <xs:element minOccurs="0" name="idMatchStatus" type="xs:int" />
      <xs:element minOccurs="0" name="idWord" type="xs:int" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOGameMatch" nillable="true" type="tns:DTOGameMatch" />
</xs:schema>