hangmanClient/Views/Connected Services/SRIManageGameService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Gamematch">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchLanguage" nillable="true" type="tns:MatchLanguage" />
      <xs:element minOccurs="0" name="MatchStatus" nillable="true" type="tns:MatchStatus" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Player1" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Word" nillable="true" type="tns:Word" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idChallenger" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idGamematch" type="xs:int" />
      <xs:element minOccurs="0" name="idGuesser" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idMatchLanguage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idMatchStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idWord" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gamematch" nillable="true" type="tns:Gamematch" />
  <xs:complexType name="MatchLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gamematch" nillable="true" type="tns:ArrayOfGamematch" />
      <xs:element minOccurs="0" name="idMatchLanguage" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchLanguage" nillable="true" type="tns:MatchLanguage" />
  <xs:complexType name="ArrayOfGamematch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gamematch" nillable="true" type="tns:Gamematch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGamematch" nillable="true" type="tns:ArrayOfGamematch" />
  <xs:complexType name="MatchStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gamematch" nillable="true" type="tns:ArrayOfGamematch" />
      <xs:element minOccurs="0" name="idMatchStatus" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchStatus" nillable="true" type="tns:MatchStatus" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gamematch" nillable="true" type="tns:ArrayOfGamematch" />
      <xs:element minOccurs="0" name="Gamematch1" nillable="true" type="tns:ArrayOfGamematch" />
      <xs:element minOccurs="0" name="birthdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Gamematch" nillable="true" type="tns:ArrayOfGamematch" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hintEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategory" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idWord" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameEN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Word" nillable="true" type="tns:ArrayOfWord" />
      <xs:element minOccurs="0" name="idCategory" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameEN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfWord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Word" nillable="true" type="tns:Word" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWord" nillable="true" type="tns:ArrayOfWord" />
</xs:schema>